body {
  text-align: center;
  background-color: #f9f25d;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #0a508b;
  color: #fff;
  padding: 8px 40px 8px 16px;
}

.pokemon-image {
  filter: brightness(110%);
}

.pokemon-image:hover {
  filter: brightness(95%);
}

.main-title {
  color: #f9f25d;
  font-size: 40px;
  font-family: 'Mali', sans-serif;
  text-decoration: none;
}

.main-title:hover {
  color: #ffd012;
  text-decoration: none;
}

/* sets main body to start below fixed header */

.page-container {
  color: #0246b6;
  margin-top: 120px;
}

.btn {
  background-color: #b6ccf0;
  font-weight: bold;
  border: 2px solid #0a508b;
  padding: 16px 24px;
  margin: 4px 4px;
  color: #0246b6;
  width: 250px;
  text-align: left;
  text-transform: capitalize;
}

.list-group {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-list li {
  list-style: none;
}

h1 {
  text-transform: capitalize;
}

.pokemon-icon {
  width: 40px;
  height: 40px;
  float: right;
}

.modal-body {
  background-color: #92a7f4;
}

.modal-body p {
  margin: 12px 0 0;
}

span {
  color: #aa0000;
}

.github-btn {
  text-decoration: underline;
}

@media all and (max-width: 342px) {
  .page-container {
    margin-top: 155px;
  }
}
