body {
  background-color: #f9f25d;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #0a508b;
  color: #fff;
  padding: 8px 40px 8px 16px;
}

.pokemon-image {
  filter: brightness(110%);
}

.pokemon-image:hover {
  filter: brightness(95%);
}

.main-title {
  color: #f9f25d;
  font-size: 40px;
  font-family: 'Mali', sans-serif;
  text-decoration: none;
}

.main-title:hover {
  color: #ffd012;
  text-decoration: none;
}

/* sets main body to start below fixed header */

.title-container {
  color: #0246b6;
  margin-top: 120px;
  text-align: center;
}

.btn {
  background-color: #b6ccf0;
  font-weight: bold;
  border: 2px solid #0a508b;
  padding: 16px 24px;
  margin: 4px 4px;
  color: #0246b6;
  width: 250px;
  text-align: left;
  text-transform: capitalize;
}

.list-group {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-list li {
  list-style: none;
}

h1 {
  text-transform: capitalize;
}

.pokemon-icon {
  width: 40px;
  height: 40px;
  float: right;
}

.modal-body {
  background-color: #92a7f4;
}

.modal-body p {
  margin: 12px 0 0;
}

@media all and (max-width: 492px) {
  .pokemon-image {
    display: none;
  }
}

@media all and (max-width: 430px) {
  .main-title {
    font-size: 32px;
  }
}

@media all and (max-width: 360px) {
  .main-title {
    font-size: 26px;
  }
}

.footer {
  background-color: #0a508b;
  color: #fff;
}

.footer > p > a {
  color: #b1beeb;
}


.footer > p > a:hover {
  color: #f9f25d;
  text-decoration: none;
}

/* quiz */

.dark-blue-background {
  background-color: #0a508b;
  color: #b6ccf0;
}

.light-blue-background {
  background-color: #b6ccf0;
  color: #0a508b;
}

.pikachu {
  float: right;
  padding-top:30px;
  height: 170px;
}

@media all and (max-width: 421px) {
  .pikachu {
    padding-top: 50px;
    height: 140px;
  }
}

.answers-button:hover {
  color:#aa0000;
  cursor: pointer;
}

.popup-wrapper {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 15% auto;
  padding: 20px;
  background: white;
  position: relative;
}

.highlight {
  color: #aa0000;
}