body {
  text-align: center;
}

.navbar {
  background-color: #0a508b;
  color: #fff;
  padding: 8px 40px 8px 16px;
}

/* sets main body to start below fixed header */
.page-container {
  margin-top: 110px;
}

.btn {
  background-color: #ffeaac;
  border: 2px solid #0a508b;
  padding: 16px 24px;
  margin: 4px 0;
  color: #191970;
  width: 250px;
  text-align: left;
  text-transform: capitalize;
  list-style: none;
}

h1 {
  text-transform: capitalize;
}

.pokemon-icon {
  width: 40px;
  height: 40px;
  float: right;
}

.modal-body {
  background-color: #92a7f4;
}

.modal-body p {
  margin: 12px 0 0;
}

span {
  color: #aa0000;
}

.github-btn {
  text-decoration: underline;
}

@media all and (max-width: 342px) {
  .page-container {
    margin-top: 155px;
  }
}
